ChallengeHarness/Service References/Remote/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ChallengeHarnessInterfaces" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ChallengeHarnessInterfaces" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="MatchRender">
    <xs:sequence>
      <xs:element minOccurs="0" name="Map" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Moves" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="Round" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoundNumber" type="xs:int" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MatchRender" nillable="true" type="tns:MatchRender" />
</xs:schema>