ChallengeHarness/Service References/Remote/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BotRunner" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IBotRunner_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ChallengeHarnessInterfaces" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBotRunner_Destroy_InputMessage">
    <wsdl:part name="parameters" element="tns:Destroy" />
  </wsdl:message>
  <wsdl:message name="IBotRunner_Destroy_OutputMessage">
    <wsdl:part name="parameters" element="tns:DestroyResponse" />
  </wsdl:message>
  <wsdl:message name="IBotRunner_Init_InputMessage">
    <wsdl:part name="parameters" element="tns:Init" />
  </wsdl:message>
  <wsdl:message name="IBotRunner_Init_OutputMessage">
    <wsdl:part name="parameters" element="tns:InitResponse" />
  </wsdl:message>
  <wsdl:message name="IBotRunner_GetPlayerNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerNumber" />
  </wsdl:message>
  <wsdl:message name="IBotRunner_GetPlayerNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerNumberResponse" />
  </wsdl:message>
  <wsdl:message name="IBotRunner_GetPlayerName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerName" />
  </wsdl:message>
  <wsdl:message name="IBotRunner_GetPlayerName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerNameResponse" />
  </wsdl:message>
  <wsdl:message name="IBotRunner_GetMove_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMove" />
  </wsdl:message>
  <wsdl:message name="IBotRunner_GetMove_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMoveResponse" />
  </wsdl:message>
  <wsdl:message name="IBotRunner_GetLog_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLog" />
  </wsdl:message>
  <wsdl:message name="IBotRunner_GetLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLogResponse" />
  </wsdl:message>
  <wsdl:portType name="IBotRunner">
    <wsdl:operation name="Destroy">
      <wsdl:input wsaw:Action="http://tempuri.org/IBotRunner/Destroy" message="tns:IBotRunner_Destroy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBotRunner/DestroyResponse" message="tns:IBotRunner_Destroy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Init">
      <wsdl:input wsaw:Action="http://tempuri.org/IBotRunner/Init" message="tns:IBotRunner_Init_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBotRunner/InitResponse" message="tns:IBotRunner_Init_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlayerNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/IBotRunner/GetPlayerNumber" message="tns:IBotRunner_GetPlayerNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBotRunner/GetPlayerNumberResponse" message="tns:IBotRunner_GetPlayerNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlayerName">
      <wsdl:input wsaw:Action="http://tempuri.org/IBotRunner/GetPlayerName" message="tns:IBotRunner_GetPlayerName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBotRunner/GetPlayerNameResponse" message="tns:IBotRunner_GetPlayerName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMove">
      <wsdl:input wsaw:Action="http://tempuri.org/IBotRunner/GetMove" message="tns:IBotRunner_GetMove_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBotRunner/GetMoveResponse" message="tns:IBotRunner_GetMove_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLog">
      <wsdl:input wsaw:Action="http://tempuri.org/IBotRunner/GetLog" message="tns:IBotRunner_GetLog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBotRunner/GetLogResponse" message="tns:IBotRunner_GetLog_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IBotRunner" type="tns:IBotRunner">
    <wsp:PolicyReference URI="#NetTcpBinding_IBotRunner_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Destroy">
      <soap12:operation soapAction="http://tempuri.org/IBotRunner/Destroy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Init">
      <soap12:operation soapAction="http://tempuri.org/IBotRunner/Init" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlayerNumber">
      <soap12:operation soapAction="http://tempuri.org/IBotRunner/GetPlayerNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlayerName">
      <soap12:operation soapAction="http://tempuri.org/IBotRunner/GetPlayerName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMove">
      <soap12:operation soapAction="http://tempuri.org/IBotRunner/GetMove" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLog">
      <soap12:operation soapAction="http://tempuri.org/IBotRunner/GetLog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BotRunner">
    <wsdl:port name="NetTcpBinding_IBotRunner" binding="tns:NetTcpBinding_IBotRunner">
      <soap12:address location="net.tcp://0.0.0.0:29900/BotRunner" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://0.0.0.0:29900/BotRunner</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>